.side-bar
  .side-bar__user-name
    .side-bar__user-name__second
      .side-bar__user-name__second__left
        = current_user.name
      .side-bar__user-name__second__right
        = link_to new_group_path do
          %i.fa.fa-edit.icon
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog.icon
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list--view
        = link_to group_messages_path(group) do
          .side-bar__group-list--view--box
            .side-bar__group-list--view--box__group-name
              = group.name
            .side-bar__group-list--view--box__new-message
              = group.show_last_message